<div class="table-responsive">
    <table class="table table-striped table-bordered" [mfData]="filteredData" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
            <th *ngFor="let field of fields">
                <mfDefaultSorter by="{{field.field}}">{{field.title}}</mfDefaultSorter>
            </th>
        </tr>
        <tr>
            <th *ngFor="let field of fields">
                <input type="text" class="form-control" id="name"
                       required
                       (keyup)="filterData($event.target.value,field.field)" (blur)="$event.target.value = ''"
                       [name]="field.field"
                       *ngIf="field.filter">
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let document of mf.data;let i =index;">
            <td *ngFor="let field of fields">
                <span *ngIf="field.datatype !== 'command'">{{(field.valueFormatter === 'date')?(document[field.field] | date:'dd-MM-yyyy: HH.mm'):document[field.field]}}</span>
                <span *ngIf="field.datatype === 'command'">
                        <a (click)="deleteDocument(document.Id,i)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <acsi-download [type]="'document'" [id]="document.Id"></acsi-download>
                    </span>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="9">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot>
    </table>
</div>